@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --font-grotesk: Grotesk, sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;

  --color-accent: var(--accent);
  --color-black: var(--black);
  --color-dark: var(--dark);
  --color-gray: var(--gray);
  --color-white: var(--white);
  --color-background: var(--background);
}

@layer base {
  @font-face {
    font-family: "Grotesk";
    src: url("/fonts/grotesk/SpaceGrotesk-Regular.woff"), format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Grotesk";
    src: url("/fonts/grotesk/SpaceGrotesk-Medium.woff"), format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  .font-outline {
    -webkit-text-stroke: 2.5px black;
    background-color: transparent;
  }
  .font-outline-sm {
    -webkit-text-stroke: 1.2px black;
    background-color: transparent;
  }

  :root {
    --accent: #ff6678;
    --black: rgb(0, 0, 0);
    --dark: #191a23;
    --gray: #f3f3f3;
    --white: #ffffff;
    --background: #fff1e6;
  }
}

@utility btn-primary {
  @apply bg-dark text-white rounded-lg px-[35px] py-5 transition-all duration-200;
  &:hover {
    @apply bg-accent text-black transform scale-105;
  }
}

@utility btn-secondary {
  @apply bg-background text-black px-[35px] py-5 rounded-lg border border-solid border-black transition-all duration-200;
  &:hover {
    @apply bg-black text-white border-accent transform scale-105;
  }
}

@utility btn-tertiary {
  @apply bg-accent text-black rounded-lg px-[35px] py-5 transition-all duration-200;
  &:hover {
    @apply bg-background text-black transform scale-105;
  }
}

@utility accented {
  @apply bg-accent text-black rounded-[7px] px-[7px];
}

@utility whitehead {
  @apply bg-white text-black rounded-[7px] px-[7px];
}

@utility blackhead {
  @apply bg-black text-white rounded-[7px] px-[7px];
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* markdown style */
.content p {
  margin: 20px 0;
  font-size: 1.1rem;
}

.content h2 {
  margin: 20px 0;
  font-size: 1.4rem;
  font-weight: bold;
}
