---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

const cards = [
  {
    index: 0,
    title:
      "Developed and implemented innovative AI use cases for a luxury retail brand, significantly enhancing internal performance and operational efficiency.",
    link: "https://google.com",
  },
  {
    index: 1,
    title:
      "Designed and optimized conversational flows for a financial institution, enabling seamless user interactions through advanced chatbot technology.",
    link: "https://google.com",
  },
  {
    index: 2,
    title:
      "Created engaging interactive experiences for a hotel using digital signage, transforming guest engagement and enhancing the overall visitor experience.",
    link: "https://google.com",
  },
];


import larrow from "../../assets/icon3.svg";
import SectionTitle from "../ui/SectionTitle.astro";
---

<Section id="cases">
  <SectionTitle
    sectionTitle="Case Studies"
    description="Explore Real-Life Examples of work through Our Case Studies"
  />
  <div class="flex flex-col lg:flex-row justify-between rounded-[45px] p-1">
    {
      cards.map((card) => (
        <Card>
          <div class="flex p-[60px] h-full bg-dark text-gray rounded-[45px] m-[1px]">
            <div class="flex flex-col gap-5">
              <p>{card.title}</p>
              <a href={card.link} class="flex items-center gap-[15px]">
                <span class="text-green">Case Info</span>
                <picture>
                  <Image src={larrow} alt="Arrow pointing up right" />
                </picture>
              </a>
            </div>
          </div>
        </Card>
      ))
    }
  </div>
</Section>
