---
import Icon from "./Icon.astro";
---

<footer
  class="footer footer-horizontal footer-center bg-base-200 text-base-content rounded p-10"
>
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover" href="/#about">About</a>
    <a class="link link-hover" href="https://tronica.substack.com">Blog</a>
    <a class="link link-hover" href="/#oss" ">Projects</a>
  </nav>
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a target="_blank" href="https://x.com/tronicapps">
        <Icon type="twitter" />
      </a>
      <a target="_blank" href="https://github.com/patrixr">
        <Icon type="github" />
      </a>
      <a target="_blank" href="https://tronica.substack.com">
        <Icon type="substack" />
      </a>
      <a target="_blank" href="https://instagram.com/tronica.io">
        <Icon type="instagram" />
      </a>
    </div>
  </nav>
  <aside>
    <p>
      Copyright © {new Date().getFullYear()} - Tronica Ltd
    </p>
  </aside>
</footer>
