---
const { links } = Astro.props;
---

<div class="hero min-h-[50vh]">
  <div class="hero-content text-center">
    <div class="max-w-xl z-10">
      <h1 class="text-6xl font-fancy font-normal">
        Creative technology in code <span class="text-[0.7em]">&</span>
        <span class="italic text-accent">colors</span>
      </h1>
      <div class="text-xl w-2/3 m-auto pt-5 font-fancy">
        Technical consulting and innovation
      </div>
      <div class="flex justify-center flex-wrap gap-3 mt-5">
        {
          links.map((link: any) => (
            <a href={link.href} target={link.href[0] === "#" ? "" : "_blank"}>
              <button class="w-24 btn btn-soft">{link.text}</button>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</div>
